<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Eto" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.6752.17745" newVersion="2.4.6752.17745" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.18177.16151" newVersion="6.6.18177.16151" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>